// https://vuepress.vuejs.org/default-theme-config/#migrate-your-styles-to-style-styl

main.home {
  .hero img {
    max-width: 120px;
    height: auto;
  }
}

main .theme-default-content:not(.custom) {
  max-width: initial;
  padding: 0;
}

.navbar {
  position: absolute;
}