// https://vuepress.vuejs.org/default-theme-config/#migrate-your-styles-to-style-styl

main.home {
  .hero img {
    max-width: 120px;
    height: auto;
  }
}

// Custom navbar
header.navbar {
  line-height: 2.25rem;
}

// Sidebar opacity
.sidebar-group.is-sub-group.collapsable > p.sidebar-heading {
  cursor: pointer;
  opacity: .9;
}

@media (min-width: 960px) {
  header.navbar {
    background-color: #fafafa;
    #search-form {
      position: fixed;
      left: 200px;
      z-index: 1;
      #algolia-search-input {
        width: 300px;
        border-radius: 6px;
        border-color: #eaecef;
        cursor: inherit;
        &::placeholder {
          color: #8d93a4;  
        }
      }
    }
    .nav-links {
      position: fixed;
      top: 4rem;
      left: 24px;
      right: 24px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      a {
        padding: 0 0 6px;
      }
      .nav-item:nth-child(6) {
        margin-left: auto;
      }
    }
    .nav-dropdown {
      .dropdown-item {
        line-height: 2.2rem !important;  
      }  
    }
  }

  .nav-item > a[href$="/guide/"]:not(.router-link-exact-active) {
    margin-bottom: 0 !important;
    border-bottom: none !important;
  }
    
  .theme-default-content:not(.custom) > h1:first-child {
    padding-top: 128px;  
  }
}
@media (max-width: 959px) {
  header.navbar {
    height: 3.6rem;
  }
  div.links {
    display: none !important;
  }
  .sidebar {
    width: 220px;
  }
}


// Custom styles

h1,h2,h3,h4,h5,.navbar a .site-name {
  color: darken($textColor, 20%)
}

.page {
  font-size: 14px;
  margin-bottom: 50px;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 460px) {  
  .home-page {
    .page {
      .el-button {
        margin: 0 0 10px;
        min-width: 100% !important;
      }
    }
  }
  #top-right .el-button {
    max-width: 120px !important;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.card {
  background: white;
  border: 1px solid #eaecef;
  border-radius: 8px;
  background-color: #f7fafc;
  font-weight: 400;
  padding: 0 20px 0 20px;
  margin-top: .85rem;
  margin-bottom: .85rem;
  h4 {
    margin: 0 -20px;
    padding: 10px 20px;
    background-color: #eaecef;
  }
  table {
    font-size: 13px;
    thead {
      display: none;
    }
    tr, th, td {
      border: none;
      vertical-align: top;
    }
    td:first-child {
      min-width: 140px;
      padding-left: 0;
    }
  }
}

.light-code {
  .language-endpoints, 
  .language-json {
    background-color: inherit;
    pre {
      padding: 0;
    }
    code {
      color: #32325d !important;
    }
  }
}

.theme-code-group {
  margin-top: 20px;
}

.row {
  width: 100%;
  display: flex;
  margin: 0 0 6px;
  .left {
    width: calc(50% - 30px);
    display: inline-block;
    margin-right: 60px;
  }
  .right {
    width: calc(50% - 30px);
    display: inline-block;
  }
}
@media (max-width: 959px) {
  .row {
    flex-direction: column;
    .left,
    .right {
      display: block;
      width: 100%;
      margin-right: 0;
    }
    .left {
      margin-bottom: 20px;
    }
  }
}

.param-container {
  margin-top: -60px;
  padding-top: 60px;
  position: relative;
}
.param-title {
  position: relative;
  font-family: monospace;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: -18px;
  padding-left: 18px;
  .param-anchor {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16px;
    display: none;
  }
  &:hover {
    .param-anchor {
      display: block;
    }
  }
}
.param-required,
.param-optional {
  font-size: 13px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.param-required {
  color: $codeOrangeColor;
}
.param-optional {
  color: $lightGrayColor;
}
.param-description {
  margin-top: 4px;
}

// Caret-container

.caret-container {
  background: #353839;
  color: white;
  border-radius: 6px;
  summary {
    padding: 1.6em;
    cursor: pointer;
  }
  &[open] summary {
    padding-bottom: 0;
  }
  .theme-code-group {
    margin-top: 0;  
  }
}