$accentColor = #5e72e4
$textColor = #4f566b
$borderColor = #eaecef
$codeBgColor = #353839

$codeGrayColor = #697386
$codeGreenColor = #09825d
$codeBlueColor = #067ab8
$codeOrangeColor = #e56f4a

$lightGrayColor = #8792a2

$navbarHeight = 6.25rem
$sidebarWidth = 14rem
$contentWidth = 1400px

$MQNarrow = 1119px
$MQMobile = 959px
$MQMobileNarrow = 419px