$accentColor = #5e72e4
$textColor = #4f566b
$borderColor = #eaecef
$codeBgColor = #353839

$codeGrayColor = #697386
$codeGreenColor = #09825d
$codeBlueColor = #067ab8
$codeOrangeColor = #e56f4a

$lightGrayColor = #8792a2

$navbarHeight = 6.25rem
$sidebarWidth = 14rem
$contentWidth = 1400px

$MQNarrow = 1119px
$MQMobile = 959px
$MQMobileNarrow = 419px

.btn-square-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 520px) {
    flex-direction: column;
  }
}

.btn-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 80px;
  font-weight: bold;
  color: $accentColor !important;
  line-height: 70px;
  &.el-button--primary.is-plain {
    &:hover,
    &:focus {
      background: #eff1fc !important;
    }
  }
  img {
    max-height: 100%;
    margin-right: 6px;
  }
  @media (max-width 520px) {
    width: 100%;
    margin: 0 0 10px !important;
  }
}