// https://vuepress.vuejs.org/default-theme-config/#migrate-your-styles-to-style-styl

main.home {
  .hero img {
    max-width: 120px;
    height: auto;
  }
}

// Custom styles

.row {
  width: 100%;
  display: flex;
}
.left {
  width: 55%;
  display: inline-block;
  padding: 0 20px 0 0;
  background-color: red;
}
.right {
  width: 45%;
  display: inline-block;
  background-color: blue;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .left,
  .right {
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .left {
    margin-bottom: 20px;
  }
}