// https://vuepress.vuejs.org/default-theme-config/#migrate-your-styles-to-style-styl

main.home {
  .hero img {
    max-width: 120px;
    height: auto;
  }
}

// Custom styles

.page {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.card {
  background: white;
  border: 1px solid #eaecef;
  border-radius: 8px;
  background-color: #f7fafc;
  font-weight: 400;
  padding: 0 20px 0 20px;
  margin-top: 20px;
  h4 {
    margin: 0 -20px;
    padding: 10px 20px;
    background-color: #eaecef;
  }
  table {
    font-size: 13px;
    thead {
      display: none;
    }
    tr, th, td {
      border: none;
      vertical-align: top;
    }
    td:first-child {
      min-width: 140px;
      padding-left: 0;
    }
  }
  .language-endpoints {
    background-color: inherit;
    .language-text {
      padding: 0;
    }
    code {
      color: #32325d !important;
    }
  }
}

.theme-code-group {
  margin-top: 20px;
}

.row {
  width: 100%;
  display: flex;
  margin: 20px 0;
}
.left {
  width: calc(50% - 30px);
  display: inline-block;
  margin-right: 60px;
}
.right {
  width: calc(50% - 30px);
  display: inline-block;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .left,
  .right {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .left {
    margin-bottom: 20px;
  }
}